<header>

    <div class="full" >
        <div class="box a"> <a  class="a-n" href="http://127.0.0.1:8000/">主  页</a></div>
        <div class="box b"><a class="a-n" href="http://127.0.0.1:8000/boot/">bootStrap</a></div>
        <div class="box c"> <a class="a-n" href="http://127.0.0.1:8000/grid/">Grid示例</a></div>
        <div class="box d"> <a class="a-n" href="http://127.0.0.1:8000/cla/">班级管理</a></div>
        <div class="box e"><a class="a-n" href="http://127.0.0.1:8000/materials?page=1">材质</a></div>
        <div class="box f"> <a class="a-n" href="http://127.0.0.1:8000/materials/upload/">TryDjango</a></div>
        <div class="box g"></div>
        <div class="box h"></div>
        <div class="box i"><a class="a-n" href="http://127.0.0.1:8000/music/">music</a></div>
        <div class="box j"><a class="a-n" href="http://127.0.0.1:8000/myblog/">myblog</a></div>
        <div class="box k">用户管 理</div>
        <div class="box l"></div>
    </div>
</header>
{#<header>#}
{#    <div class="main">#}
{#        <div class="left-n">#}
{#            <ul>#}
{##}
{#                <li>#}
{#                    <a href="">浏览材质</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://127.0.0.1:8000/boot/">bootStrap</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://127.0.0.1:8000/grid/">Grid示例</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://127.0.0.1:8000/cla/">班级管理</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://127.0.0.1:8000/materials/">材质</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://127.0.0.1:8000/upload/">上传图片</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="right-n">#}
{#            <div class="right-n1">#}
{#                <ul class="right-ul">#}
{##}
{#                    <li>#}
{#                        <a href="http://127.0.0.1:8000/login/">登录</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="">电影</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="">众筹项目</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="right-n2">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</header>#}
